.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.dish-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 35px;
    cursor: pointer;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}

.dish-card:hover {
    border: 2px solid tomato;
}

.dish-card img {
    width: 100%;
    border-radius: 35px;
    margin-bottom: 15px;
}

.price {
    font-size: 1.3em;
    font-weight: 700;
}

.title {
    font-size: 1.2em;
    font-weight: 700;
}

.weight {
    color: gray;
}

.dish-card button {
    margin-top: auto;
    background-color: #f1eee9;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
}

.dish-card:hover button {
    background-color: tomato;
    color: white;
}

@media (max-width: 800px) {
    .menu-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    nav {
        justify-content: space-between;
    }

    h1 {
        text-align: center;
    }
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        font-size: 1.3em;
    }

    section h2 {
        text-align: center;
    }

    .menu-grid {
        grid-template-columns: 1fr;
    }
}

.order-section {
    padding: 40px;
}

.order-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.order-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.order-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.order-block h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

label {
    font-weight: 600;
}

select,
input,
textarea {
    padding: 12px 14px;
    font-size: 1em;
    border: 1px solid #aaa;
    border-radius: 8px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
}

.radio {
    display: flex;
    align-items: center;
    gap: 8px;
}

.radio-title {
    margin-top: 10px;
    font-weight: 600;
}

.form-buttons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.reset-btn,
.submit-btn {
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

.reset-btn {
    background: #ddd;
}

.reset-btn:hover {
    background: #bbb;
}

.submit-btn {
    background: tomato;
    color: white;
}

.submit-btn:hover {
    background: #c9381a;
}


@media (max-width: 800px) {
    .order-form {
        grid-template-columns: 1fr;
    }
}

